/*-------------------- General --------------------*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

:root {
    --pink: #FF00C7;
    --orange: #FF9900;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/blue-background-2000.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

#game-zone {
    width: 100%;
    height: 100vh;
    max-width: 80vw;
    max-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

aside {
    font-size: 1.5em;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: initial;
}

/* Fonts */

h1 {
    font-family: "Lobster", cursive;
    color: var(--white);
    text-align: center;
    font-size: 3em;
}

/* Utils */

.double-shadow {
    box-shadow: -5px -5px 0px var(--orange), 5px 5px 0px var(--pink);
}

.btn {
    font-family: 'Quicksand', sans-serif;
    background: var(--white);
    border-radius: 15px;
    padding: 13px 85px;
    font-size: 1em;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

}

.dialog {
    width: 90%;
    max-width: 800px;
    max-height: 600px;
    margin: auto;
    border-radius: 30px;
    border: none;
    font-size: 1.5em;
}

.dialog::backdrop {
    background: rgba(87, 68, 87, 0.54);
    filter: blur(20px)
}

/*-------------------- Start screen --------------------*/

#start-screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#start-button {
    font-size: 2.5em
}

.left-player {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 30%;
}

.right-player {
    position: absolute;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 40%;
}

#how {
    font-size: 1.3em;
    text-decoration: underline;
    text-transform: initial;
    color: white;
    cursor: pointer;
}

#how-dialog {
    padding: 2em 1em 1em 1em;
    text-transform: initial;
    font-weight: 500;
    font-size: 1.2em;
}

#how-dialog #close {
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
}

#how-dialog article {
    margin-bottom: 1em;
}

#how-dialog article.controls {
    display: flex;
    justify-content: space-between;
}

#how-dialog article.controls img {
    margin-left: 1em;
    object-fit: contain;
}

#how-dialog h3 {
    font-size: 1.8em;
    font-weight: 500;
    font-family: 'Lobster', cursive;
    color: var(--pink)
}

/*-------------------- Game canvas --------------------*/
#canvas-screen {
    display: none;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    color: var(--white)
}

#canvas {
    margin: 0 auto;
    border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(to bottom, var(--pink), var(--orange)) 1;
}

#scorebox {
    width: 220px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#score-counter {
    font-size: 3em;
}

.stamina-display {
    display: flex;
    justify-content: space-between;
}

.stamina-gauge {
    max-width: 100%;
    width: 220px;
    height: 29px;
    border-radius: 30px;
    background: white;
    overflow: hidden;

}

.stamina-bar {
    width: 100%;
    height: 100%;
    background: var(--pink);
    transition: width 1s;

}

#fight-screen .stamina-gauge {
    border: 1px solid var(--pink);
}

/*-------------------- Fight screen --------------------*/

/* Dialog and background */
#fight-screen-dialog {
    height: 90%;
}
#fight-screen {
    position: relative;
    overflow: hidden;
    padding: 2em;
    height: 100%;
    width: 100%;
    display: flex;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(./../assets/lightning.svg);
    background-size: 100% 100%;
}

#fight-screen .jammer,
#fight-screen .blocker {
    width: 40%;
}

/* Jammer */
#fight-screen .jammer .jammer-pic {
    width: 300px;
    position: absolute;
    left: -50px;
    bottom: -100px;
}

#fight-screen .stats {
    margin: 1em auto;
}

.jammer .stamina-display {
    width: 220px;
}


/* Action buttons */
#fight-screen .fight-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    position: relative;
}

#fight-screen .fight-actions .btn {
    width: 160px;
    height: 56px;
    padding: 13px 41px;
    border-radius: 30px;
    color: var(--white);
    margin: 2em auto;
    font-weight: 500;
    z-index: 10;
}

#btn-force {
    background: var(--pink);
}

#btn-feint {
    background: var(--orange)
}

/* Blocker */

#fight-screen .blocker {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#fight-screen .blocker .blocker-pic {
    transform: scaleX(-1);
    width: 300px;
    position: absolute;
    top: 20px;
    right: -100px;
}

#fight-screen .blocker .stats {
    width: 100%;
    text-align: right;
}

/* Case : win */
.continue-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.continue-section .bravo {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 1em;
}

#btn-continue {
    background: var(--orange);
    color: white;
    border-radius: 30px;
    padding: 13px 46px;
}

/* Case : fail */
.fight-again {
    position: absolute;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    top: 10%;
    left: 5px;
    width: 300px;
}